<div id="wrapper">

        <app-topbar></app-topbar>
        <!--/. NAV TOP  -->
        <app-sidebar></app-sidebar>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">


                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="header-style">

                            <h1>轻轻松松走完审批流程</h1>


                        </div>
                        <p class="block"></p>
                        <div>
                            <a routerLink="/old-home/index/checking/leave" class='font-style'>请假</a>
                            <a routerLink="" class='font-style'>加班</a>
                            <a routerLink="" class='font-style'>报销</a>
                            <a routerLink="" class='font-style'>出差</a>
                            <a routerLink="" class='font-style'>外出</a>
                            <a routerLink="" class='font-style'>物品</a>
                        </div>
                    </div>


                </div>
                <!-- /. ROW  -->
                <!-- <footer class="col-md-12 text-center">
                    <p>Copyright &copy; 2016.Company name All rights reserved.</p>
                </footer> -->
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
