<div id="wrapper">

    <app-topbar></app-topbar>
    <!--/. NAV TOP  -->
    <app-sidebar></app-sidebar>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        审批管理 <small style="margin-left: 30px;">
                            <a routerLink="old-home/index/checking/leave" class='font-style'>请假</a>
                            <a routerLink="#" class='font-style'>加班</a>
                            <a routerLink="#" class='font-style'>报销</a>
                            <a routerLink="#" class='font-style'>出差</a>
                            <a routerLink="#" class='font-style'>外出</a>
                            <a routerLink="#" class='font-style'>物品</a>

                        </small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a routerLink="#">主页</a></li>
                        <li><a routerLink="/checking">审批管理</a></li>
                        <li class="active">我的请假</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            请假
                            <div class="pull-right">
                                <a routerLink="#" class="btn btn-default">全部</a>
                                &nbsp;
                                <a routerLink="/old-home/index/checking/leave/addleave" class="btn btn-success">+我要请假</a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline" role="grid">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="dataTables_length" id="dataTables-example_length">
                                                <label>
                                                    <select name="dataTables-example_length"
                                                        aria-controls="dataTables-example"
                                                        class="form-control input-sm">
                                                        <option value="10">10</option>
                                                        <option value="25">25</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                    </select> 条/页 </label></div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div id="dataTables-example_filter" class="dataTables_filter">
                                                <label>搜索：<input type="search" class="form-control input-sm"
                                                        aria-controls="dataTables-example"></label></div>
                                        </div>
                                    </div>
                                    <table class="table table-striped table-bordered table-hover dataTable no-footer"
                                        id="dataTables-example" aria-describedby="dataTables-example_info">
                                        <thead>
                                            <tr role="row">
                                                <th rowspan="1" colspan="1" style="width: 204px;">类型</th>
                                                <th rowspan="1" colspan="1" style="width: 204px;">请假日期</th>
                                                <th rowspan="1" colspan="1" style="width: 285px;">天数</th>
                                                <th rowspan="1" colspan="1" style="width: 273px;">状态</th>
                                                <th rowspan="1" colspan="1" style="width: 172px;">进度</th>

                                                <th rowspan="1" colspan="1" style="width: 121px;">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="gradeA odd" *ngFor="let item of allleaves">
                                                <td class="center">{{item.leave_type}}</td>
                                                <td class="center ">{{item.start}}--{{item.end}}</td>
                                                <td class="center ">{{item.num}}</td>
                                                <td class="center ">{{item.result}}</td>
                                                <td class="center ">
                                                    <span *ngFor="let i of item.approve">
                                                        {{i.name}}
                                                    </span>
                                                </td>
                                                <td class="center ">

                                                    <div class="btn-group">
                                                        <button data-toggle="dropdown"
                                                            class="btn btn-default dropdown-toggle"
                                                            aria-expanded="false">操作 <span
                                                                class="caret"></span></button>
                                                        <ul class="dropdown-menu">
                                                            <li><a routerLink="#">编辑</a></li>
                                                            <li><a routerLink="#">其它</a></li>
                                                            <li class="divider"></li>
                                                            <li><a routerLink="#">删除</a></li>
                                                        </ul>
                                                    </div>
                                                </td>

                                            </tr>


                                        </tbody>
                                    </table>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="dataTables_info" id="dataTables-example_info" role="alert"
                                                aria-live="polite" aria-relevant="all"> 共 57 条
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                id="dataTables-example_paginate">
                                                <ul class="pagination pull-right">
                                                    <li class="paginate_button previous disabled"
                                                        aria-controls="dataTables-example" tabindex="0"
                                                        id="dataTables-example_previous"><a routerLink="#">上一页</a></li>
                                                    <li class="paginate_button active"
                                                        aria-controls="dataTables-example" tabindex="0"><a
                                                            routerLink="#">1</a></li>
                                                    <li class="paginate_button " aria-controls="dataTables-example"
                                                        tabindex="0"><a routerLink="#">2</a></li>
                                                    <li class="paginate_button " aria-controls="dataTables-example"
                                                        tabindex="0"><a routerLink="#">3</a></li>
                                                    <li class="paginate_button " aria-controls="dataTables-example"
                                                        tabindex="0"><a routerLink="#">4</a></li>
                                                    <li class="paginate_button " aria-controls="dataTables-example"
                                                        tabindex="0"><a routerLink="#">5</a></li>
                                                    <li class="paginate_button " aria-controls="dataTables-example"
                                                        tabindex="0"><a routerLink="#">6</a></li>
                                                    <li class="paginate_button next" aria-controls="dataTables-example"
                                                        tabindex="0" id="dataTables-example_next"><a routerLink="#">下一页</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>


            </div>
            <!-- /. ROW  -->
            <footer>
                <p>Copyright &copy; 2016.Company name All rights reserved.</p>
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
