@import "../../assets/css/custom-styles.css";


.card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 20px;
    background: none 0px 0px repeat scroll rgb(255, 255, 255);
    margin: 15px 0px;
    padding: 20px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(231, 231, 231);
    border-image: initial;
    border-radius: 5px;
}



.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.row{
    display: flex;
    justify-content: center;
}
