
    <div id="wrapper">

        <app-topbar></app-topbar>
        <!--/. NAV TOP  -->
        <app-sidebar></app-sidebar>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">


                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            审批管理 <small style="margin-left: 30px;">
                                <a href="checking/leave" class='font-style'>请假</a>
                                <a href="#" class='font-style'>加班</a>
                                <a href="#" class='font-style'>报销</a>
                                <a href="#" class='font-style'>出差</a>
                                <a href="#" class='font-style'>外出</a>
                                <a href="#" class='font-style'>物品</a>
    
                            </small>
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="index">主页</a></li>
                            <li><a href="checking">审批管理</a></li>
                            <li><a href="checking/leave">我的请假</a></li>
                            <li class="active">请假</li>
                        </ol>
                    </div>
                </div>
                
            
                

                <div class="row">

                    <div class="col-md-12">
                        <div class="panel panel-default">
                                <div class="panel-heading text-center"><p class="help-block"></p>
                                        请假申请（请按规则添加）
                                </div>

                                <div class="panel-body">
                                    <div class="row" >
                                        <div class="col-md-8 col-md-offset-2" >
                                                <p class="help-block"></p>

                                                <form #myForm='ngForm' (ngSubmit)='onSubmit(myForm)' enctype='multipart/form-data' class="form-horizontal" role="form">
              
                                                    <div class="form-group">
                                                            <label class="col-md-2 control-label">类型</label>
                                                            <div class="col-md-9">
                                                                <select class="form-control" [(ngModel)]="leave_detail.leave_type" name="leave_type">
                                                                        <option value="1">事假</option>
                                                                        <option value="2">病假</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">开始时间</label>
                                                        <div class='col-md-9'>
                                                                <input [(ngModel)]="leave_detail.start" name="start" class="form-control" placeholder="开始时间">
                                                        </div>

                                                        <!-- <input type="text" value="{{datetime}}">
                                                        <div class="container">
                                                                <div class="row">
                                                                    <div class='col-sm-6'>
                                                                        <div class="form-group">
                                                                            <div class='input-group date' id='datetimepicker1'>
                                                                                <input type='text' class="form-control" />
                                                                                <span class="input-group-addon">
                                                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div> -->


                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">结束时间</label>
                                                        <div class='col-md-9'>
                                                            <input [(ngModel)]="leave_detail.end" name="end" class="form-control" placeholder="结束时间">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">请假天数</label>
                                                        <div class='col-md-9'>
                                                                <input  [(ngModel)]="leave_detail.num" name="num" class="form-control" placeholder="请假天数">
                                                        </div>
                                                    </div>
                                
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">请假事由</label>
                                                        <div class='col-md-9'>
                                                            <textarea [(ngModel)]="leave_detail.reason" name="reason" class="form-control" placeholder="请假事由" cols="30" rows="5">
                                                            </textarea>
                                                        </div>
                                                    </div>
                                
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">审批人</label>
                                                        <div class='col-md-9'>
                                                            <button class="btn btn-warning" data-toggle="modal" data-target="#myModal">
                                                                添加审批人
                                                            </button>
                                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                                            <h4 class="modal-title" id="myModalLabel">审批人</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <div class="panel panel-default">
                                                                                <div class="panel-heading">
                                                                                    选择
                                                                                </div>
                                                                                <div class="panel-body">
                                                                                    <div class="table-responsive">
                                                                                        <table class="table table-hover">
                                                                                            <thead>
                                                                                                <tr>
                                                                                                    <th>#</th>
                                                                                                    <th>姓名</th>
                                                                                                    <th>部门</th>
                                                                                                    <th>职位</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td><img src="/assets/img/2.png" class="img-style" alt=""></td>
                                                                                                    <td>Mark</td>
                                                                                                    <td>Otto</td>
                                                                                                    <td>@mdo</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td><img src="/assets/img/3.png" class="img-style" alt=""></td>
                                                                                                    <td>Jacob</td>
                                                                                                    <td>Thornton</td>
                                                                                                    <td>@fat</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td><img src="/assets/img/1.jpg" class="img-style" alt=""></td>
                                                                                                    <td>Larry</td>
                                                                                                    <td>the Bird</td>
                                                                                                    <td>@twitter</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>


                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                                            <button type="button" class="btn btn-primary"> 保存 </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                
                                                    <div class="form-group">
                                                        <label class="col-md-2 control-label">抄送人</label>
                                                        <div class="col-md-9">
                                                                <select class="form-control" [(ngModel)]="leave_detail.leader" name="leader">
                                                                        <option value="5">小明</option>
                                                                </select>
                                                        </div>
                                                    </div>
                                                    

                                                   
                                                    

                                                    <div class="col-lg-offset-5"> 
                                                            <button  type="submit" class="btn btn-primary" > 提交 </button>
                                                    </div>
                                                    

                                                    </form>

                                                    

                                        </div>

                                            

                                    </div>
                                        

                                </div>
                                

                        </div>
                            


                    </div>
                    
                </div>
                <!-- /. ROW  -->
                <footer><p>Copyright &copy; 2016.Company name All rights reserved.</p></footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>







