<div id="wrapper">

        <app-topbar></app-topbar>
        <!--/. NAV TOP  -->
        <app-sidebar></app-sidebar>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            薪资管理 <small> 查看薪资 </small>
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="#">主页</a></li>
                            <li><a href="#">薪资管理</a></li>
                            <li class="active">详情</li>
                        </ol>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-12">
                        <!-- Advanced Tables -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                薪资管理
                                <div class="pull-right">
                                    <a href="#" class="btn btn-info">我的薪资</a>
                                </div>
                            </div>
                            <div class="panel-body">
                               
    
                            </div>
                        </div>
                        <!--End Advanced Tables -->
                    </div>
    
    
                </div>
                <!-- /. ROW  -->
                <footer>
                    <p>Copyright &copy; 2016.Company name All rights reserved.</p>
                </footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>