<nav class="navbar-default navbar-side" role="navigation">
    <div id="sideNav" routerLink=""><i class="fa fa-caret-right"></i></div>
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <!-- class="active-menu" -->
                    <a class="active-hover" routerLink="/old-home/index/"><i class="fa fa-dashboard"></i>考勤管理</a>
                </li>
                <li >
                    <a class="active-hover" routerLink="/old-home/index/checking"><i class="fa fa-desktop"></i>审批管理</a>
                </li>
                <li>
                    <a class="active-hover" routerLink="/old-home/index/approval"><i class="fa fa-bar-chart-o"></i>打卡功能</a>
                </li>
                <li>
                    <a class="active-hover" routerLink="/old-home/index/report"><i class="fa fa-qrcode"></i>日报周报</a>
                </li>

                <li>
                    <a class="active-hover" routerLink="/old-home/index/salary"><i class="fa fa-table"></i>薪资管理</a>
                </li>
                <li>
                    <a class="active-hover" routerLink="/old-home/index/announcement"><i class="fa fa-edit"></i>查看公告</a>
                </li>
                <li>
                    <a  class="active-hover" routerLink="/old-home/index/organization"><i class="fa fa-fw fa-file"></i>组织管理</a>
                </li>
            </ul>

        </div>

    </nav>
