@import "../../../../../assets/css/custom-styles.css";
/* @import "../../../../../../node_modules/_bootstrap-datetimepicker@0.0.7@bootstrap-datetimepicker/src/js/locales/bootstrap-datetimepicker.zh-CN.js"; */



.img-style{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}